.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #f5f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../Tarea1/img/red2.jpg');
    animation: banner 24s infinite linear;

}
.content{
   margin:0;
   padding: 0; 
   width: 100%;
   height: 100%;
   color: #ffffff;
   background-color: rgb(0,22,40,.5);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.content span{
    font-size: 30px;
    font-weight: 500;
    letter-spacing:3px ;
}
.content h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    font-size: 60px;
    text-align: center;
  
}
.content a{
    text-decoration: none;
    color:#ffffff;
    padding: 10px 30px;
    border: 2px solid #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    
   
}
.content p{
    margin-bottom: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    font-style: italic;
}

.content a:hover{
    background-color: #000000;
    
    font-style: italic;
}

@keyframes banner{
    0%{
      
    background-image: url('../Tarea1/img/red2.jpg');
    }
    25%{
        
    background-image: url('../Tarea1/img/red2.jpg');
    }
    26%{
        
    background-image: url('../Tarea1/img/red1.jpg');
    }
    50%{
        
    background-image: url('../Tarea1/img/red1.jpg');
    }
    51%{
        
    background-image: url('../Tarea1/img/red3.jpg');
    }
    75%{
        
    background-image: url('../Tarea1/img/red3.jpg');
    }
    76%{
        
    background-image: url('../Tarea1/img/red5.png');
    }
    100%{
        
    background-image: url('../Tarea1/img/red5.png');
    }


}
.movimiento{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
}
.movimiento marquee{
    letter-spacing:7px;
    color: black;
    font-weight: 700;
    font-size: 60px;
    display: block;
    text-transform: uppercase;
    margin-bottom:20px ;
}
    

